body {
  font-family: Arial, sans-serif;
  background-color: #99d98c;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 40px;
  margin-top: 10px;
  color: #d62839;
}
.instruction {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 8px;
  font-size: 15px;
  color: #004b23;
  font-weight:600 ;
  z-index: 10; 
}

.floating-instruction p {
  margin: 0;
}

button {
  padding: 5px 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #007200;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.781);
    transform: scale(1.1); 
  }


.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  grid-gap: 20px;
  margin: 40px 20px;
  justify-content: center;
  text-align: center;
}

.card {
  position: relative;
  width: 140px;
  height: 120px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.fliped .card-front {
  transform: rotateY(180deg);
}

.fliped .card-back {
  transform: rotateY(0deg);
}

#win {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0077b6;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .cards-container {
    grid-template-columns: repeat(5, 80px);
  }
  .card {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 769px) {
  .cards-container {
    grid-template-columns: repeat(5, 120px);
  }
  .card {
    width: 100px;
    height: 100px;
  }
}
